.grid-container {
  display: flex;
  flex-direction: column;
  .grid-row {
    grid-auto-flow: column;
    .grid-column {
      display: inline-grid;
      height: 30px;
      justify-content: center;
    }
  }
}
